.Player {
  flex: 1 0 auto;
  padding: 0.5rem;
  border-left: solid 1px var(--color__text);
}

.Player:first-child {
  border-left: none;
}

.Player__title,
.Player__textbox {
  font-size: var(--font__size--body);
}

.Player__footer {
  display: flex;
}
