@import url("https://fonts.googleapis.com/css2?family=Boogaloo&display=swap");

:root {
  --color__bg: #fbfffe;
  --color__bg--dark: #2e2e2e;
  --color__primary: #4ecdc4;
  --color__secondary: #e75a7c;
  --color__text: #584b53;
  --color__text--dark: #fbfffe;
  --font__primary--family: "Boogaloo", cursive;
  --font__size--body: 1.5rem;
}

html {
  background: var(--color__bg);
  color: var(--color__text);
}

html.is-dark {
  --color__bg: var(--color__bg--dark);
  --color__text: var(--color__text--dark);
}

.App {
  font-family: var(--font__primary--family);
  height: 100vh;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: solid 1px var(--color__text);
}

.App__header h1 {
  font-size: 2.25rem;
}

.App__main {
  display: flex;
  grid-auto-flow: row;
  padding: 0 0.5rem;
  min-height: calc(100vh - 87px);
  overflow-x: scroll;
}

.App__button {
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
}

.App__button--primary {
  color: var(--color__primary);
}

.App__button--secondary {
  color: var(--color__secondary);
}
