/* Reset */
/* Set box sizing to border-box so everything sizes like you'd expect. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin from everything. */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

/* Remove the margin but keep the padding on lists so they continue to look like lists. */
ul,
ol {
  margin: 0;
}

/* Set a nice line height and optimize text redering. */
body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* If a list has a class remove the padding and list styles. */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Set images to block display so they're easier to work with. */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons. */
input,
button,
textarea,
select {
  font: inherit;
}

/**
 * Remove all animations and transitions for people that prefer not to see them.
 * Taken from modern-css-reset https://github.com/hankchizljaw/modern-css-reset/blob/master/src/reset.css.
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
